*{
    z-index: 3;
}
/*Custom_cursor*/
.cursor{
    position: absolute;
    height: 40px;
    width: 40px;
    border: 4px solid #2c2c2c;
    border-radius: 50%;
    z-index: 10;
    transition: 200ms ease-out;
    overflow: hidden;
  }
  .pointed{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #E400FF;
    border-radius: 50%;
    z-index: 10;
    overflow: hidden;
  }
/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #000000;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E400FF; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1d080a; 
    cursor: grab;
  }
html{
    scroll-behavior: smooth;
}
.webgl{
    position: fixed;
    top: 0px;
    left: 0px;
    max-width: 100%;
    max-height: 100%;
    outline: none;
    overflow: hidden;
    z-index: 2;
}
.fixed-alert{
    position: fixed;
    bottom: 200px;
    right: 100px;
    z-index: 10;
    color: white;
    z-index: 2;
}
@font-face {
    font-family: apebankfont;
    src: url('../font/FORCED_SQUARE.ttf');
}
@font-face {
    font-family: square;
    src: url('../font/Square.ttf');
}
body{
    background-color: black;
    background-image: url('../img/background.png');
    background-repeat: repeat-y;
    background-attachment: fixed;
    font-family: apebankfont;
    color: white;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.bg-explosion{
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: 0.5s;
    filter: brightness(100%);
    opacity: 0%;
}
.bg-explosion-fade{
    transition: 0.5s;
    opacity: 0%;
}
.bg{
    height: 375px;
    width: 375px;
    pointer-events: none;
    z-index: 2;
}
.loader{
    z-index: 11;
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.loader-fade{
    top: 0%;
    animation-delay: 2s;
    animation-name: loader-fade-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes loader-fade-animation {
    0%{opacity: 100%; display: flex;}
    90%{opacity: 0%; display: none; top: 0%;}
    100%{opacity: 0%; display: none; top: -100vh;}
}
.loader-circle{
    width: 60px;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.apelogo{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 316px;
}
.apelogo-img{
    background-image: url('../svg/isologoApebank.svg');
    background-repeat: none;
    color: goldenrod;
}
.apelogo-img-shine{
    background-image: url('../img/logo-apebank-shine.png');
    background-repeat: no-repeat;
    animation: shine-animation 1s ease-out 0.2s infinite alternate forwards;
}
@keyframes shine-animation{
    0%{opacity: 0%;}
    100%{opacity: 90%;}
}
.coin{
    opacity: 0;
}
.coin-one{    
    background-image: url('../img/coin001.png');
    animation: coin-one-animation 4.3s ease-out 0.5s infinite alternate forwards;
}
.coin-two{    
    background-image: url('../img/coin002.png');
    animation: coin-two-animation 1.2s ease-out 0.8s infinite alternate forwards;
}
.coin-three{  
    background-image: url('../img/coin003.png');  
    animation: coin-three-animation 2.7s ease-out 0.3s infinite alternate forwards;
}
.coin-four{ 
    background-image: url('../img/coin004.png');   
    animation: coin-four-animation 3s ease-out 0.6s infinite alternate forwards;
}
.coin-five{ 
    background-image: url('../img/coin005.png');   
    animation: coin-five-animation 0.6s ease-out 1.1s infinite alternate forwards;
}
.coin-six{  
    background-image: url('../img/coin006.png');  
    animation: coin-six-animation 2.5s ease-out 0.4s infinite alternate forwards;
}
@keyframes coin-one-animation{
    0%{opacity: 0;}
    100%{opacity: 100;}
}
@keyframes coin-two-animation{
    0%{opacity: 0;}
    100%{opacity: 100;}
}
@keyframes coin-three-animation{
    0%{opacity: 0;}
    100%{opacity: 100;}
}
@keyframes coin-four-animation{
    0%{opacity: 0;}
    100%{opacity: 100;}
}
@keyframes coin-five-animation{
    0%{opacity: 0;}
    100%{opacity: 100;}
}
@keyframes coin-six-animation{
    0%{opacity: 0;}
    100%{opacity: 100;}
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    position: fixed;
    width: 94%;
}
.logo{
    opacity: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-animation{
    animation: logofadeanimation 1.5s ease 3s 1 forwards ;
}
@keyframes logofadeanimation{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
.main-menu{
    padding-top: 60px;
}
a{
    color: gray;
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px 10px;
    margin: 4px;
    transition: 0.6s;
    font-size: 32px;
}
a:hover{
    transition: 0.6s;
    color: white;
}
a::after {
    content: '';
    position: absolute;
    width: 20px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ababab;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
ul{
    list-style: none;
}
.side-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 50%;
    width: 200px;
    height: 140px;
    justify-content: center;
    transform: translateY(-50%);
    opacity: 10%;
    transition: 0.6s ease;
}
.side-menu:hover{
    transition: 0.6s ease;
    opacity: 100%;
    color: #E400FF;
}
.side-menu ul{
    padding-left: 30px;
    position: relative;
}
.side-menu ul::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 140px;
    background-color: white;
    top: 20px;
    left: 8px;
}
.side-menu ul li{
    padding: 10px 0px;
    padding-left: 0px;
}
.side-menu ul li a{
    position: relative;  
    transition: 0.6s easy;
    font-size: 14px;
}
.side-menu ul li a::before{
    content: "";
    position: absolute;
    background: black;
    width: 18px;
    height: 18px;
    left: -36px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    border: 1px solid white;
}
.side-menu ul li a.active::before{
    background: white;
}
.button{    
    border: 1px solid white;
    padding: 10px 20px;
    height: 20px;
    font-size: 16px;
}
.social-media-icons{
    opacity: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    position: fixed;
    right: 50px;
    bottom: 50px;    
    width: 240px;
    height: 80px;
    transition: 4s;
    z-index: 10;
}
.icons-size{
    height: 30px;
}
.navigation-scroll{
    height: 200px;
    width: 12px;
    position: fixed;
    top: 50%;
    left: 60px;
    display: flex;
    opacity: 0%;
    transform: translateY(-50%);
    transition: 2s;
    z-index: 4;
}
.scroll-down{
    height: 40px;
    width: 20px;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    padding: 2px 0px 0px 2px;
    align-items: flex-start;
    justify-content: start;
}
.mouseclick{
    height: 12px;
    width: 8px;
    background-color: white;
    border-radius: 15px 0px 0px 0px;
}
@keyframes scroll-down-button-animation{
    0%{top: 2px;}
    100%{top: 6px;}
}
.scroll-down-button{
    position: relative;
    top: 6px;
    height: 8px;
    width: 4px;
    background-color: white;
    border-radius: 2px;
    animation: scroll-down-button-animation 0.6s ease 0s infinite forwards alternate;
}
h2{    
    font-size: 120px;
    margin: 0px;    
}
h3{
    font-size: 30px;
    margin: 10px 0px 0px 0px;
}
section{   
    position: sticky; 
    top: 0px;
    margin: auto;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    padding-left: 200px;
    opacity: 0;
}
.section-products{
    height: auto;
}
.section-content{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.first{
    justify-content: end;
    align-items: center;
    padding: 0px;
    opacity: 1;
}

button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-family: apebankFont;
    font-size: 22px;
    cursor: pointer;
}
.unlock{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    height: 94%;
    width: 94%;
    transition: 0.5s;
    z-index: 10;
    text-align: center;
    font-size: 22px;
    opacity: 0%;
}
.unlock-animation{
    animation: unlockFadeAnimation 1.5s ease 5s infinite alternate ;
}
@keyframes unlockFadeAnimation {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
.info-container{
    background-color: #cb68d611;
    padding: 40px;
    border: 1px solid white;
}
.info{
    font-family: square;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    max-width: 560px;
    text-align: left;
    font-weight: lighter;
    list-style: circle;
}
.info, h2, h3{
    cursor: default;
    color: none;
}
b{
    color: #cb68d6;
    text-shadow: 2px 2px black;
}
.slogan-container{
    opacity: 0%;
    width: 96%;
    height: 400px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: 2s;
    cursor: default;
}
.slogan-container-animation{
    animation: logofadeanimation 1.5s ease 3s 1 forwards;
}
@keyframes slogancontaineranimation{
    0%{opacity: 100%;}
    100%{opacity: 0%;}
}
.slogan-container-footer{
    width: 1200px;
    padding-left:140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
    z-index: 0;
}
.slogan-fade{
    opacity: 1;
    transition: 4s;
}
.slogan-item{
    display: flex;
    flex-direction: column;
    margin: 200px;  
}
.slogan-title{
    font-size: 300px;
    height: 210px;
    padding: 0px;
    margin: 0px;
}
.slogan-together{
    text-align: start;
}
.slogan-stronger{
    text-align: end;
}
.slogan-subtitle{
    text-align: start;
    padding: 0px;
    margin: 0px;
    font-size: 109px;
}
.ape-lovers{
    margin: 0px;
    text-align: center;
}
#particles-js{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
  }
  /* ---- stats.js ---- */

.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
    z-index: 2;
  }
  
  #stats,
  .count-particles{
    margin-top: 5px;
    margin-left: 5px;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }
  .footer-title{
      font-size: 200px;
      transition: 0.5s;
  }
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    opacity: 0;
}
  @media only screen and (max-width: 1280px) {
    section{
        width: 100%;
    }
    
    .first{
        overflow-x: hidden;
    }
    .slogan-container{
        padding-left: 20px;
        padding-left: 0px;
        justify-content: space-between;  
        height: 400px;
    }
    .slogan-item{
        width: 400px;
        overflow-x: hidden;
        margin: 0px;
    }  
    .slogan-title{
          font-size:220px;
          height: 156px;
      }
      .slogan-subtitle{
          font-size: 80px;
      }
      h2{
          font-size: 90px;
      }
      
      .info{
          max-width: 580px;
          font-size: 12px;
      }      
      .footer-title{          
          width: 90%;
          padding-left: 0px;
          padding-right: 60px;
      }
  }
  @media only screen and (max-width: 768px) {
    .side-menu{
        top: 100%;

    }
    .slogan-item{
        width: 220px;
        overflow-x: hidden;
    }
    .slogan-title{
        font-size: 120px;
        height: 90px;
    }
    .slogan-subtitle{
        font-size: 44px;
    }
    section{
        padding-left: 0px;
        align-items: center;
    }
    .slogan-container-footer{
        width: 100%;
        padding-left: 40px;
    }
    .footer-title{
        font-size: 120px;
    }
  }
  @media only screen and (max-width: 425px) {
      .side-menu{
          display: none;
      }
      nav{
          padding: 10px 0px;
      }
      .slogan-container{
          justify-content: space-between;
          font-size: 32px;
          overflow-x: hidden;
      }
      .address{
          font-size: 18px;
          margin: 0px;
      }
      .slogan-item{
        width: 180px;
    }
      .slogan-title{
          font-size: 88px;
          height: 60px;
      }
      .slogan-subtitle{
          font-size: 32px;
      }
      section{
          max-width: 340px;
          padding: 0px 10px;
      }
      .social-media-icons{
          left: 50%;
          transform: translateX(-50%);
          width: 200px;
          bottom: 0px;
      }
      .products-content{
          height: 600px;
          overflow-x: scroll;
      }
      .info{
          padding: 4px;
          background-color: rgba(0, 0, 0, 0.651);
          font-size: 12px;
          margin: 5px 0px;
      }
      .box{
        height: 20px;
      }
      .info, h2, h3{
          margin: 2px 0px;
      }
      h3{
          margin-top: 6px;
      }
      h2{
          font-size: 42px;
      }
      .unlock{
          width: 300px;
      }
      .slogan-container-footer{
          width: 100%;
      }
      .footer-title{
          font-size: 80px;
      }
  }